{% extends 'base.html' %}

{% block head %}
    {{super()}}


{% endblock %}


{% block content %}
    {{super()}}

<form method="POST" action="/results" id="my_form">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="link" placeholder="Enter your link...">
          <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
</form>
{% endblock %}
